node_modules/
dist/
.env
.DS_Store
*.log
.vscode/
.idea/
coverage/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.next/
out/
.cache/
.svelte-kit/
.nuxt/
build/
*.tsbuildinfo
.vite/
*.swp
*.swo
*.bak 
Thumbs.db
*.tmp
*.old
*.orig